<li>
  <span>Todo: {{ todo.title }}, is completed: {{ todo.completed }}</span>
  <input type="checkbox" [(ngModel)]="todo.completed">
  <span *ngIf="todo.completed"
        class="remove-todo"
        (click)="removeTodo()"
  >X
  </span>
</li>
